.home {
  display: flex;
  flex-direction: row;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.content {
  flex: 1;
  padding: 20px;
}
